.create-job-page {
    .job-form-section {
        h2 {
            margin-bottom: $space-6;
        }
        .row {
            margin-bottom: $space-6;
        }
        .job-badges-switches {
            h5 {
                font-size: 1.2rem;
                margin-bottom: $space-4;
            }
        }
        .submit-job {
            margin-top: $space-6;
            min-width: 160px;
        }

        .removable-list-with-input {
            textarea {
                min-height: 100px;
            }
        }
    }
}