.single-job-page {
    .view-page-header-wrapper {
        .single-job-card {
            margin-bottom: 0;
            .job-header {
                .job-info {
                    .details-list {
                        .single-detail {
                            margin-right: $space-8;
                            i {
                                font-size: 1rem;
                            }
                            span {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                .job-image {
                    @include circle(100px);
                    border-radius: $border-radius-sm;
                    background-color: $cloud-blue;
                }
            }
            .job-badges {
                margin-top: $space-2;
                .badge {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }
        }
    }
}
