.featured-jobs {
    text-align: center;
    ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-column-gap: $space-6;
        margin-top: $space-6 * 2;
    }
}
