@import "./intro";
@import "./popular_job_categories";
@import "./featured_jobs";
@import "./top_companies";
@import "./pricing_plans";

.landing-section {
    margin-bottom: $space-8 * 4;
    .section-title {
        margin-bottom: $space-4;
        font-size: 1.9rem;
        @include font-medium();
    }
    .section-subtitle {
        @include font-light();
        font-size: 1rem;
        margin-bottom: 0;
        color: $gray;
    }
}
