@mixin box-shadow-drop() {
    box-shadow: 2px 4px 6px 0px $bright-gray;
}

@mixin circle($radius) {
    width: $radius;
    height: $radius;
    min-width: $radius;
    min-height: $radius;
    max-width: $radius;
    max-height: $radius;
    border-radius: $radius;
}

@mixin light-shadow() {
    box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
}
