// Colors
$deep-blue: #1967D2;
$deep-blue-hover: #1451a4;
$cloud-blue: rgba(25, 103, 210, 0.07);
$darker-cloud-blue: rgba(25, 103, 210, 0.15);
$bright-gray: #ECEDF2;
$green: #34A853;
$bright-green: rgba(52, 168, 83, 0.15);
$orange: #F9AB00;
$bright-orange: rgba(249, 171, 0, 0.15);
$dark: #202124;
$gray: #77838F;
$dark-gray: #696969;

// Spacings
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;

$border-radius-sm: 10px;