// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Fonts
@import 'fonts';

// Mixins
@import 'mixins';

@import './ui/index';
@import './components/index';

body {
    @include font-regular();
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font: inherit;
}