// Bootstrap
@import "bootstrap/scss/bootstrap";

// Variables
@import "variables";

// Fonts
@import "fonts";

// Mixins
@import "mixins";

// Animations
@import "animations";

@import "./ui/index";

@import "./components/index";

@import "./pages/index";

body {
    @include font-regular();
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font: inherit;
}

.mt-6 {
    margin-top: $space-6;
}

.mb-6 {
    margin-bottom: $space-6;
}

.mr-8 {
    margin-right: $space-8;
}

.bg-pale-gray {
    background-color: $pale-blue;
}

.relative {
    position: relative;
}

.no-list-items-title {
    font-size: 2rem;
    text-align: center;
    margin: $space-6 0;
    &::after {
        content: "";
        width: 120px;
        height: 4px;
        border-radius: $border-radius-sm;
        background-color: $deep-blue;
        margin-top: $space-4;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.text-danger {
    @include font-semibold();
    color: $red;
    margin-left: $space-2;
}
