footer {
    background-color: $pale-gray;
    .top-row {
        padding-top: $space-8 * 3;
        padding-bottom: $space-8 * 3;
        .footer-grid {
            display: grid;
            grid-template-columns: 370px repeat(4, minmax(0, 1fr));
            .footer-col {
                margin-left: 2.5rem;
                &:first-of-type {
                    margin-left: 0;
                }
                h6 {
                    font-size: 1.1rem;
                    margin-bottom: 0;
                }
                .footers-site-logo {
                    display: block;
                    width: 150px;
                    margin-bottom: $space-4;
                    img {
                        width: 100%;
                    }
                }
                .tel-link {
                    display: block;
                    @include font-medium();
                    font-size: 1.1rem;
                    margin-top: $space-1;
                    margin-bottom: $space-4;
                    text-decoration: none;
                }
                address {
                    @include font-light();
                    font-size: 0.9rem;
                    line-height: 2;
                    margin-bottom: 0;
                }
                .email-link {
                    @include font-light();
                    color: $dark;
                    font-size: 0.9rem;
                    text-decoration: none;
                }
                ul {
                    margin-top: $space-6;
                    li {
                        margin-bottom: $space-4;
                        a {
                            display: flex;
                            align-items: center;
                            @include font-light();
                            font-size: 0.9rem;
                            text-decoration: none;
                            color: $dark;
                            transition: all 0.3s;
                            &:hover {
                                color: $deep-blue;
                                &::before {
                                    margin-right: $space-2;
                                    width: 20px;
                                }
                            }
                            &::before {
                                display: block;
                                width: 0;
                                height: 2px;
                                background-color: $deep-blue;
                                content: "";
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-row-wrapper {
        padding-top: $space-8;
        padding-bottom: $space-8;
        border-top: 1px solid $bright-gray;
    }
    .bottom-row {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        p {
            @include font-light();
            margin-bottom: 0;
            color: $dark-gray;
        }
        .socials {
            display: flex;
            a {
                text-decoration: none;
                margin-right: $space-6;
                font-size: 1rem;
                i {
                    color: $dark-gray;
                    transition: all 0.3s;
                }
                &:hover {
                    i {
                        color: $deep-blue;
                    }
                }
            }
        }
    }
}
