.fixed-navigation {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 0px 6px 0px $bright-gray;
    z-index: 2;
}
.navbar {
    padding: $space-6 3rem;
    .navbar-brand {
        width: 13rem;
        margin-right: 2.5rem;
        img {
            width: 100%;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-link {
                padding: $space-2 $space-4;
                color: $dark;
                font-size: 0.95rem;
                margin-right: $space-2;
                transition: all 0.3s;
                &:hover {
                    color: $deep-blue;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    .auth-buttons {
        .btn {
            margin-right: $space-6;
            &:last-child {
                margin-right: 0;
            }
        }
        .btn-primary {
            min-width: 8rem;
        }
    }
}