.badge {
    padding: 5px $space-6;
    background-color: $darker-cloud-blue;
    color: $deep-blue;
    border-radius: 50px;
    font-size: 0.8rem;
    @include font-regular();
    transition: all 0.3s;
    &.orange {
        color: $orange;
        background-color: $bright-orange;
    }
    &.green {
        color: $green;
        background-color: $bright-green;
    }
    &.pending {
        color: #fff;
        background-color: #27ceb4;
    }
}
