.btn {
    @include font-regular();
    padding: $space-4 $space-8;
    padding-top: 0.85rem;
    font-size: 0.95rem;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 0.3s;
    &.btn-primary {
        background-color: $deep-blue;
        color: #fff;
        &:hover {
            background-color: $deep-blue-hover;
        }
    }
    &.btn-secondary {
        background-color: $cloud-blue;
        color: $deep-blue;
        &:hover {
            background-color: $deep-blue;
            color: #fff;
        }
        &:active {
            background-color: $deep-blue;
        }
    }
}

.btn-icon {
    @include circle(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    i {
        font-size: 0.9rem;
    }
    &:hover {
        background-color: $cloud-blue;
    }
}
