.confirmation-modal {
    .modal-dialog {
        max-width: 500px;
        .modal-content {
            padding: $space-8;
        }
    }
    h1 {
        text-align: center;
        margin-bottom: $space-8;
        font-size: 2rem;
        &::after {
            display: block;
            content: "";
            width: 100px;
            height: 4px;
            border-radius: 4px;
            background-color: $deep-blue;
            margin-top: $space-2;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .confirmation-message {
        margin-bottom: $space-8;
        font-size: 1.1rem;
    }
    .actions {
        display: flex;
        justify-content: space-between;
        .btn {
            min-width: 150px;
            height: 45px;
            line-height: 1;
        }
    }
}
