.dashboard-card {
    padding: $space-6;
    border-radius: $border-radius-sm;
    box-shadow: 0 0px 15px 0 rgb(64 79 104 / 5%);
    background-color: #FFF;
    .card-title {
        font-size: 1.2rem;
        margin-bottom: $space-6;
    }
}