.details-list {
    display: flex;
    flex-wrap: wrap;
    .single-detail {
        @include font-light();
        margin-right: $space-6;
        color: $dark-gray;
        i {
            margin-right: $space-2;
            font-size: 0.9rem;
        }
        span {
            font-size: 0.8rem;
        }
    }
}
