$navigationHeight: 112.47px;

.page {
    padding-top: $navigationHeight;
    .page-header {
        padding-top: $space-8 + $space-4;
        padding-bottom: $space-8 + $space-4;
        background-color: $pale-blue;
        text-align: center;
        margin-bottom: $space-8 + $space-4;
        h1 {
            font-size: 1.8rem;
        }
        .breadcrumbs {
            display: flex;
            justify-content: center;
            li {
                display: flex;
                &::after {
                    content: "/";
                    display: block;
                    margin: 0 $space-2;
                }
                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    .page-filters {
        background-color: $pale-gray;
        border-radius: $border-radius-sm;
        padding: $space-8;
        .single-filter {
            margin-bottom: $space-8;
            h6 {
                font-size: 1.2rem;
                margin-bottom: $space-4;
            }
            .form-group {
                position: relative;
                &.pre-icon {
                    padding: 0;
                    i {
                        position: absolute;
                        left: 20px;
                        top: 19px;
                        width: 20px;
                        text-align: center;
                        font-size: 1.2rem;
                        color: $gray;
                    }
                    input,
                    select {
                        padding: $space-4;
                        padding-left: $space-8 + $space-6;
                        border: 1px solid $pale-gray;
                        border-radius: $border-radius-sm;
                        outline: none;
                        box-shadow: none;
                        color: $gray;
                        font-size: 1rem;
                        background-color: #FFF;
                        &:focus {
                            border: 1px solid $deep-blue;
                        }
                    }
                    select {
                        background-position: right 20px center;
                    }
                }
            }

            .form-check {
                margin-bottom: $space-6;
                display: flex;
                align-items: center;
                .form-check-input {
                    position: relative;
                    top: -3px;
                    border: 1px solid $bright-gray;
                    width: 20px;
                    height: 20px;
                    box-shadow: none;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:active {
                        filter: none;
                    }
                }
                .form-check-label {
                    color: $gray;
                    margin-left: $space-2;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
            }

            .form-switch {
                margin-bottom: $space-6;
                .form-check-label {
                    color: $gray;
                }
            }
        }

        .btn {
            width: 100%;
        }
    }
    .sort-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $space-8;
        .sort-inputs {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            .form-group {
                display: inline-block;
                margin-right: $space-6;
                max-width: 180px;
                width: 100%;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            select {
                background-color: $pale-blue;
                padding: $space-2 + $space-1 $space-4 + $space-1;
                border: none;
                outline: none;
                box-shadow: none;
                color: $gray;
                background-position: right 18px center;
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: $space-6 * 2 0;
        ul {
            padding: 0;
            display: flex;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 $space-2;
                @include circle(40px);
                cursor: pointer;
                color: $gray;
                transition: all 0.3s;
                &.active {
                    background-color: $deep-blue;
                    color: #fff;
                }
                &:hover {
                    background-color: $deep-blue;
                    color: #fff;
                }
            }
        }
    }
}

.view-page {
    padding-top: $navigationHeight;
    .view-page-header {
        padding-top: $space-8 * 2;
        padding-bottom: $space-8 * 2;
        background-color: $pale-blue;
        .view-page-title {
            font-size: 1.7rem;
        }
    }
    .view-page-main {
        background-color: #fff;
        padding-top: $space-6 * 2;
        padding-bottom: $space-6 * 2;
        .single-info-section {
            margin-bottom: $space-6 * 2;
            h3 {
                font-size: 1.1rem;
                margin-bottom: $space-4;
            }
            p {
                color: $gray;
                margin-bottom: 0;
                font-size: 0.95rem;
                line-height: 1.6rem;
            }
            ul {
                list-style-type: disc;
                margin: 0;
                padding: 0;
                li {
                    color: $gray;
                    font-size: 0.95rem;
                    margin-bottom: $space-1;
                    margin-left: 20px;
                    line-height: 2.5rem;
                    &::marker {
                        color: $dark-gray;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .sidebar-card {
        padding: $space-6 $space-8;
        background-color: $pale-gray;
        border-radius: $border-radius-sm;
        margin-bottom: $space-8;
        h3 {
            font-size: 1.1rem;
            margin-bottom: $space-6;
        }
    }
}

.dashboard-container {
    padding-top: $navigationHeight;
    background-color: $pale-gray;
    .sidebar {
        position: fixed;
        left: 0;
        height: calc(100vh - 112.47px);
        width: 360px;
        overflow-y: auto;
    }
    .dashboard-main {
        display: flex;
        flex-direction: column;
        margin-left: 360px;
        padding: $space-8 * 2 $space-6 * 2;
        padding-bottom: 0;
        min-height: calc(100vh - $navigationHeight);
        .dashboard-page {
            margin-bottom: $space-8 * 2;
            .page-title {
                font-size: 1.8rem;
                margin-bottom: $space-8;
            }
        }
        .dashboard-footer {
            margin-top: auto;
        }
    }
    .dashboard-form {
        .row {
            margin-bottom: $space-6;
        }
    }
}
