.single-employer-page {
    .single-employer-card {
        .employer-logo {
            @include circle(100px);
            margin-right: $space-4;
            border-radius: $border-radius-sm;
            background-color: $cloud-blue;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .employer-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .details-list {
                margin-bottom: $space-2;
            }
        }
    }
}