.table-wrapper {
    .filters {
        display: flex;
        margin-bottom: $space-6;
        width: 100%;
        .form-group {
            flex: 1;
            width: 100%;
            height: 50px;
            margin-right: $space-4;
            input, select {
                height: 50px;
                line-height: 1;
            }
        }
        .btn {
            height: 50px;
            margin-right: $space-4;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .table {
        .details-cell {
            display: flex;
            .image {
                @include circle(55px);
                margin-right: $space-4;
                overflow: hidden;
                border-radius: $border-radius-sm;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .details {
                padding-top: $space-1;
                .details-list {
                    .single-detail {
                        span {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .secondary-link {
                display: block;
                color: $deep-blue;
                margin: 0;
                font-size: 1rem;
                .dark {
                    color: $dark;
                }
            }
        }
    }
    .no-list-items-title {
        margin-bottom: 0;
        color: $gray;
        font-size: 1.3rem;
        &::after {
            display: none;
        }
    }
    .pagination {
        margin-top: $space-6;
    }
}
